.banner {
  --line-color: rgba(255, 255, 255, 0.1);
  background:
    repeating-linear-gradient(45deg,
      transparent, transparent 9px,
      var(--line-color) 9px, var(--line-color) 11px),
    repeating-linear-gradient(-45deg,
      transparent, transparent 9px,
      var(--line-color) 9px, var(--line-color) 11px),
    linear-gradient(to right top, #42551e 40%, #4e7936);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: 'Mochiy Pop One', sans-serif;
  color: #dea;
  text-align: center;
}

.banner h1 {
  font-weight: lighter;
  margin: 0;
  padding: 0;
}

.banner .bannerNote {
  font-size: 11px;
  opacity: 0.7;
  margin: 0;
}